[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "~=25.3"
httpx = {extras = ["http2"], version = "~=0.28"}
beautifulsoup4 = "~=4.14"
dateparser = "~=1.2"
aiocache = {extras = ["redis"], version = "~=0.12"}

[dev-packages]
