[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "~=25.3"
httpx = {extras = ["http2"`], version = "~=0.28"}
beautifulsoup4 = "~=4.13"
dateparser = "~=1.2"
cashews = {extras = ["diskcache", "redis"], version = "~=7.4"}

[dev-packages]
