<!DOCTYPE html>
<html lang="cs">

{% set formatted_date = selected_date.strftime("%A, %x")|title %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Kam na oběd? - {{ formatted_date }}
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.3/css/bulma.min.css">
    <link rel="icon" href="/static/favicon.png">
</head>

<body class="is-clipped">
    <div class="hero" style="background-color: var(--bulma-scheme-main-bis);">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="title">
                    Kam na oběd?
                </div>

                <div class="subtitle">
                    {{ formatted_date }}
                </div>
            </div>
        </div>

        <div class="hero-foot">
            <nav class="tabs is-centered is-boxed">
                <ul>
                    {% for date in days_of_week %}
                        <li class="px-1{% if date == selected_date %} is-active{% endif %}">
                            <a href="/{{date}}">
                                {{ date.strftime("%A")|title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="container py-6">
        <div class="columns is-tablet is-multiline is-8">
            {% for provider in providers %}
                <div class="column is-half">
                    <table class="table has-background-inherit is-fullwidth is-hoverable">
                        <div class="px-3 py-2">
                            <a href="{{ provider.url }}" target="_blank" class="is-size-4">
                                {{ provider.name }}
                            </a>
                        </div>

                        {% if provider.menu is not string %}
                            {% if provider.menu and selected_date in provider.menu %}
                                {% for item in provider.menu[selected_date] %}
                                    <tr>
                                        <td>
                                            {{ item.name }}
                                        </td>

                                        <td class="has-text-right">
                                            {% if item.price %}
                                                {{ item.price }}&nbsp;Kč
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td style="color: var(--bulma-text);">
                                        Menu není k dispozici.
                                    </td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td>
                                    <a href="{{ provider.menu }}" target="_blank">Odkaz na menu</a>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="footer has-text-centered">
        <div>
            &copy; {{ now.strftime("%Y") }} Josef Macháč
        </div>

        <div>
            <a href="https://github.com/MightyDuke/lunch-menu" target="_blank">GitHub</a> 
            &bull; <a href="/api/menu" target="_blank">API</a> 
        </div>
    </div>
</body>

</html>