@import url("/static/css/bulma.css");
@import url("/static/css/inter.css");

body {
    font-family: "Inter Variable", sans-serif;
}

[x-cloak] { 
    display: none !important; 
}

.hero {
    background-color: var(--bulma-scheme-main-bis);
}

.table {
    --bulma-table-cell-border-width: 0;
}

.text {
    color: var(--bulma-text) !important;
}

.has-min-height-screen {
    min-height: 100vh;
}

.wheel {
    width: 350px;
    height: 350px;

    background-color: dimgray;
    border-radius: 100%;
    user-select: none;

    position: relative;
}

.wheel > .slice {
    font-weight: bold;
    font-size: 18px;
    color: white;

    display: flex;
    justify-content: right;
    align-items: center;

    margin: 10px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}