@import url("/node_modules/bulma/css/bulma.css");
@import url("/node_modules/@fontsource-variable/inter/index.css");

:root {
    --bulma-body-family: "Inter Variable", sans-serif;
    --bulma-body-size: 14px;
    --bulma-navbar-background-color: var(--bulma-text-on-scheme);
}

[x-cloak], .display-none { 
    display: none !important; 
}

.hero {
    background-color: var(--bulma-scheme-main-bis);
}

.navbar, .navbar-dropdown .navbar-item {
    background-color: var(--bulma-scheme-main-ter);
}

.navbar-menu {
    background-color: transparent !important;
    box-shadow: none !important;
}

.navbar-menu a.is-active {
    font-weight: 700;
    background-color: var(--bulma-background-hover) !important;
}

.table {
    --bulma-table-cell-border-width: 0;
}

.has-text-body {
    color: var(--bulma-body-color) !important;
}

.has-background-selected {
    background-color: var(--bulma-background) !important;
}

.footer {
    --bulma-footer-padding: 2.5rem;
}

.has-min-height-screen {
    min-height: 80vh;
}

.is-rounded {
    border-radius: var(--bulma-radius);
}

.is-min-width-button {
    min-width: 80px;
    justify-content: center;
}

svg path {
    fill: var(--bulma-navbar-item-color);
}