@import url("/node_modules/bulma/css/bulma.css");
@import url("/node_modules/@fontsource-variable/inter/index.css");

body {
    font-family: "Inter Variable", sans-serif;
}

[x-cloak] { 
    display: none !important; 
}

.hero {
    background-color: var(--bulma-scheme-main-bis);
}

.table {
    --bulma-table-cell-border-width: 0;
}

.text {
    color: var(--bulma-text) !important;
}

.has-min-height-screen {
    min-height: 100vh;
}
